.foo {
  color: red;
}
#gameboard {
  margin-bottom: 10px;
  text-align: center;
}
#slider {
  position: relative;
  background: black;
  height: 60px;
  width: 100%;
  z-index: 2;
}
#center_line {
  height: 60px;
  width: 2px;
  background-color: white;
  position: absolute;
}
#indicator {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: red;
}
svg {
  max-width: 900px;
  margin: 0 auto;
}
svg text.score {
  font-family: Helvetica;
  font-size: 10rem;
}
